body{
    background-color: maroon;
    color: white;
}

.infernoCop img{
    flex-direction: column;
    border-radius: 200px;
    width: 150px;
}

.input-group{
    left: 30%;
    right: 30%;
    padding-top: 5%;
    width: 40%;
}

.items{
    width: 30%;
}

.btn{
    background-color: slategrey;
    color: aliceblue;
}


.artis img{
    justify-content: space-around;
    width: 50%;
}

#container {
    color: white
}

#inputa{
    position: sticky;
    padding-right: 10px;
}