body{
    background-color: rgb(43, 18, 19);
    font-family: Arial, Helvetica, sans-serif;
}

header img{
    width: 8%;
    height: 15%;
    border-radius: 50px;
}

.container img{
    width: 20%;
}